p{
  font-size: small;
}
.commentBox {
    box-sizing: border-box;
    font-size: small;
    
    
    /* other styles */
  }

  .commentInput{

    border: none;
    outline: none;
    border-bottom: 1px solid rgb(191, 191, 191);
    width: 100%;
    padding-bottom: .7rem;

  }

  .commentInput::placeholder {
    font-size: small;


  }